.grid-container {
  height: 100%;
  overflow: hidden;
  & > div:not(:last-child) {
    margin-bottom: var(--offset-size-xs);
  }
}

.grid-container .table-container {
  height: calc(100% - 75px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &.tfooter {
    overflow: hidden;
  }
}
