:root {
  /* Colors */
  --black: #000;
  --yellow: #ffea7c;

  /* Offsets */
  --offset-size-x3s: 2px;
  --offset-size-x2s: 4px;
  --offset-size-xs: 8px;
  --offset-size-sm: 12px;
  --offset-size-md: 14px;
  --offset-size-lg: 16px;
  --offset-size-xl: 20px;
  --offset-size-x2l: 24px;
  --offset-size-x3l: 30px;

  /*Font settings*/
  --font-size-xs: 8px;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 20px;
  --font-size-x2l: 24px;
  --font-size-x3l: 30px;
}
