:root {
  /* Colors */
  --white: #fff;
  --light-gray: rgba(0, 0, 0, 0.04);
  --gray: #e0e0e0;
  --shady-gray: #9e9e9e;
  --black: #000;
  --yellow: #ffea7c;
  --dark-yellow: #c4a300;

  /* Offsets */
  --offset-size-x3s: 2px;
  --offset-size-x2s: 4px;
  --offset-size-xs: 8px;
  --offset-size-sm: 12px;
  --offset-size-md: 14px;
  --offset-size-lg: 16px;
  --offset-size-xl: 20px;
  --offset-size-x2l: 24px;
  --offset-size-x3l: 30px;

  /* Font settings */
  --font-size-xs: 8px;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 20px;
  --font-size-x2l: 24px;
  --font-size-x3l: 30px;

  /* Border-radius */
  --border-radius: 4px;
}
