.table-container {
  height: 100%;
  overflow: hidden;
  margin-bottom: var(--offset-size-xs);
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: var(--border-radius);
  font-size: var(--font-size-sm);

  table {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: hidden;
    cursor: default;

    thead {
      width: 100%;
      display: block;
      overflow-y: scroll;
      box-shadow: 0 0 5px 0 var(--gray);
      th {
        padding: var(--offset-size-lg) var(--offset-size-xs);
        flex: 1;
        font-weight: 600;
        text-align: left;
      }
    }

    tbody {
      display: block;
      width: 100%;
      height: 100%;
      flex: 1;
      position: relative;
      overflow-y: scroll;
      overflow-x: hidden;
      tr {
        cursor: pointer;
        &:hover {
          background-color: var(--light-gray);
        }
      }
      td {
        padding: var(--offset-size-lg) var(--offset-size-xs);
        flex: 1;
        border-bottom: 1px solid var(--gray);
        text-align: left;
      }
    }

    tr {
      display: flex;
      width: 100%;
      &:last-child td {
        border: 0;
      }
    }

    .msg-placeholder {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background: none;
        cursor: default;
      }
    }

    .loader-placeholder {
      &:hover {
        background: none;
        cursor: default;
      }
      &:only-of-type {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .loader-placeholder td,
    .msg-placeholder td {
      width: 100%;
      padding: var(--offset-size-xs) 0;
      display: flex;
      justify-content: center;
    }
  }
}
